#titulo-h2 {
    color: lightskyblue;
}

.fundo-azul {
    background-color: aquamarine;
}

.texto-verde {
    color: darkgreen;
}

h1 {
    color: cornflowerblue;
}

h2 {
    color: dodgerblue;
}

p {
    color: royalblue;
}
 

